* {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

h3 {
  color: green;
}

ul {
  width: 200px;
  margin: auto;
}

.header {
  background-color: yellow;
}

.Profo {
  width: 60%;
  margin: auto;
  border-radius: 25px;
}
